<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>行情发布</title>
    <link href="css/job.css" rel="stylesheet">
    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource.min.js"></script>
    <script src="js/job.js"></script>
    <script src="js/chart.js"></script>

    <style>
        #top {
            /* background: #20A0FF; */
            padding: 5px;
            /*overflow: hidden*/
        }
        
        .el-table .warning-row {
		    background: PapayaWhip;
		}
		
		.el-table .error-row {
		    background: Plum;
		}
		.el-table .debug-row {
		    background: #f0f9eb;
		}
  		
  		.demo-table-expand label {
			width: 90px;
			color: #99a9bf
		}
		
		.demo-table-expand .el-form-item {
			margin-right: 0;
			margin-bottom: 0;
			width: 99%
		}
		
		.el-row {
		    margin-bottom: 20px;
		    &:last-child {
		      margin-bottom: 0;
		    }
		 }
		 .el-col {
		    border-radius: 4px;
		 }
		 .grid-content {
		    border-radius: 4px;
		    min-height: 400px;
		  }
		 
    </style>

</head>
<body>
<div id="job">	
	<el-tabs type="border-card" @tab-click="tabChange">
		<el-tab-pane label="运行日志">
			<el-form :inline="true" :model="seachData">				  
				<el-form-item label="日志级别">
					<el-select v-model="seachData.level" placeholder="日志级别">
						<el-option label="调试" value="1"></el-option>
						<el-option label="正常" value="2"></el-option>
						<el-option label="警告" value="3"></el-option>
						<el-option label="错误" value="4"></el-option>
					</el-select>
				</el-form-item>
						  
				<el-form-item label="类型">
					<el-select v-model="seachData.type" placeholder="类型">
						<el-option label="内部运行" value="1"></el-option>
						<el-option label="HTTP服务" value="2"></el-option>
						<el-option label="行情采集" value="3"></el-option>
						<el-option label="其它" value="4"></el-option>
					</el-select>
				</el-form-item>
						  
				<el-form-item label="时间范围">
					<el-date-picker
						v-model="seachData.timeSpan"
						type="datetimerange"
						value-format="yyyy-MM-dd HH:mm:ss"
						range-separator="至"
						start-placeholder="开始日期"
						end-placeholder="结束日期">
					</el-date-picker>
				</el-form-item>
						  
				<el-form-item>
					<el-button type="primary" @click="search">查询</el-button>
				</el-form-item>
			</el-form>		  	
		  	
		  	<el-table ref="logTable" :data="logTableData" style="width:100%" border center :row-class-name="tableRowClassName" @sort-change="sortChange">
	            <el-table-column type="expand">
				      <template slot-scope="props">
				        <el-form label-position="left" inline class="demo-table-expand">
				          <el-form-item label="类型">
				            <span v-if="props.row.type==='1'" style="color: #606266">内部运行</span>
							<span v-else-if="props.row.type==='2'" style="color: #606266">HTTP服务</span>
							<span v-else-if="props.row.type==='3'" style="color: #606266">行情采集</span>
							<span v-else style="color: #606266">其它</span>
				          </el-form-item>
				          <el-form-item label="级别">
				            <span v-if="props.row.level==='2'">正常</span>
							<span v-else-if="props.row.level==='3'">警告</span>
							<span v-else-if="props.row.level==='4'" type="danger">错误</span>
							<span v-else>调试</span>
				          </el-form-item>
				          <el-form-item label="内容">
				            <span>{{ props.row.content }}</span>
				          </el-form-item>
				          <el-form-item label="时间">
				            <span>{{ props.row.insertTime }}</span>
				          </el-form-item>
				        </el-form>
				      </template>
				</el-table-column>
	            
	            <el-table-column prop="id" label="编号" align="center" width="100"></el-table-column>
	            <el-table-column prop="type" label="类型" sortable align="center" width="180">
	            	<template scope="scope">
						<span v-if="scope.row.type==='1'" style="color: #606266">内部运行</span>
						<span v-else-if="scope.row.type==='2'" style="color: #606266">HTTP服务</span>
						<span v-else-if="scope.row.type==='3'" style="color: #606266">行情采集</span>
						<span v-else style="color: #606266">其它</span>
					</template>
	            </el-table-column>
	            <el-table-column prop="level" label="级别" align="center" width="180">
	            	<template scope="scope">
						<span v-if="scope.row.level==='2'">正常</span>
						<span v-else-if="scope.row.level==='3'">警告</span>
						<span v-else-if="scope.row.level==='4'" type="danger">错误</span>
						<span v-else>调试</span>
					</template>
	            </el-table-column>	            
	            <el-table-column prop="content" label="内容" show-overflow-tooltip></el-table-column>
	            <el-table-column prop="insertTime" label="时间" sortable="custom" align="center" width="200"></el-table-column>	            
	        </el-table>
	
	        <div align="center">
	            <el-pagination
	                    @size-change="handleSizeChange"
	                    @current-change="handleCurrentChange"
	                    :current-page="currentPage"
	                    :page-sizes="[10, 20, 30, 40, 50]"
	                    :page-size="pagesize"
	                    layout="total, sizes, prev, pager, next, jumper"
	                    :total="totalCount">
	            </el-pagination>
	        </div>
	  
	  </el-tab-pane>
	  <el-tab-pane label="状态监控">
			<el-row>
			  <el-col :span="12">
			  	<div class="grid-content">
			  		<canvas id="chart1"></canvas>
			  	</div>
			  </el-col>
			  <el-col :span="12">
			  	<div class="grid-content ">
			  		<canvas id="chart2"></canvas>
			  	</div>
			  </el-col>
			</el-row>
			<el-row>
			  <el-col :span="12"><div class="grid-content "></div></el-col>
			  <el-col :span="12"><div class="grid-content "></div></el-col>
			</el-row>
	  </el-tab-pane>
	  <el-tab-pane label="角色管理">角色管理</el-tab-pane>
	  <el-tab-pane label="定时任务补偿">定时任务补偿</el-tab-pane>
	</el-tabs>   
</div>

<footer align="center">
    <p>&copy; 行情发布</p>
</footer>

<script>
    var vue = new Vue({
        el: "#job",
        data: {
            //表格当前页数据
            logTableData: [],
            seachData:{},
            //请求的URL
            url: 'log',
            //默认每页数据量
            pagesize: 10,
            //当前页码
            currentPage: 1,
            sortColumn:'',
            sortOrder:'asc',
            //查询的页码
            start: 1,
            //默认数据总数
            totalCount: 1000,
            //添加对话框默认可见性
            dialogFormVisible: false,
            //修改对话框默认可见性
            updateFormVisible: false,
            //提交的表单
            form: {
                jobName: '',
                jobGroup: '',
                cronExpression: ''
            },
            updateform: {
                jobName: '',
                jobGroup: '',
                cronExpression: ''
            },
            loading: false,
            //图表X轴标签
            dataLabels1:[],
            dataLabels2:[],
            //图表值
            dataPV:[],
            dataUV:[],
            chartConfig:{
				type: 'line',
				data: {
					labels: this.dataLabels1,
					datasets: [
						{
			                label: 'PV',
			                data: this.dataPV,
			                backgroundColor: 'rgb(255, 99, 132)',
							borderColor: 'rgb(255, 99, 132)',
			                fill: false
						},
						{
			                label: 'UV',
			                data: this.dataUV, 
			                backgroundColor: 'rgb(75, 192, 192)',
							borderColor: 'rgb(75, 192, 192)',
			                fill: false, 
			            }
					]
				},
				options: {
					responsive: true,
					title: {
						display: true,
						text: 'PV/UV 实时统计'
					},
				}
			}
        },
        methods: {
           		 // 格式化状态
            	tableRowClassName({row, rowIndex}) {
			        if (row.level === '3') {
			          return 'warning-row';
			        } else if (row.level === '4') {
			          return 'error-row';
			        }
			        else if (row.level === '1') {
			          return 'debug-row';
			        }
			        return '';
		      },
            // 从服务器读取数据
            loadData: function (currentPage, pageSize,seachData,sortColumn,sortOrder) {
                this.loading = true;
                if(seachData.timeSpan){
	                 	this.$http.get(this.url,{"params":{
	                		"currentPage":currentPage,
	                		"pageSize":pageSize,
	                		"sortColumn":sortColumn,
	                		"sortOrder":sortOrder,
	                		"level":seachData.level,
	                		"type":seachData.type,
	                		"startTime": seachData.timeSpan ? seachData.timeSpan[0]:null,
	                		"endTime": seachData.timeSpan[1] ? seachData.timeSpan[1]:null
	                	}}).then(function (res) {                    
	                    this.logTableData = res.body.data.data;
	                    this.totalCount = res.body.data.total;
	                    this.loading = false;
	                }, function () {
	                    console.error('failed');
	                });	         
                }
                else{
	                this.$http.get(this.url,{"params":{
	                		"currentPage":currentPage,
	                		"pageSize":pageSize,
	                		"sortColumn":sortColumn,
	                		"sortOrder":sortOrder,
	                		"level":seachData.level,
	                		"type":seachData.type
	                	}}).then(function (res) {	                    
	                    this.logTableData = res.body.data.data;
	                    this.totalCount = res.body.data.total;
	                    this.loading = false;
	                }, function () {
	                    console.error('failed');
	                });                
                }
            },  
            // 搜索
            search: function () {
                console.log(this.seachData);
                this.loadData(this.currentPage, this.pagesize,this.seachData,this.sortColumn,this.sortOrder);
            },
            // 弹出对话框
            handleadd: function () {
                this.dialogFormVisible = true;
            },
            // 每页显示数据量变更
            handleSizeChange: function (val) {
                this.pagesize = val;
                this.loadData(this.currentPage, this.pagesize,this.seachData,this.sortColumn,this.sortOrder);
            },
            // 页码变更
            handleCurrentChange: function (val) {
                this.currentPage = val;
                this.loadData(this.currentPage, this.pagesize,this.seachData,this.sortColumn,this.sortOrder);
            },
            sortChange:function(column){
                console.log(column);
                this.currentPage = 1;
                this.sortColumn = column.prop;
                this.sortOrder = column.order ==='ascending'? 'asc':'desc';
                this.loadData(this.currentPage, this.pagesize,this.seachData,this.sortColumn,this.sortOrder);
            },
            tabChange:function(tab){
            	console.log(tab);
            	if(tab.label ==='状态监控'){
            		//第一次打开，未初始化
            		if(this.dataPV.length == 0){
            			
            			for(var i=0;i <10;i++){
            				this.dataPV.push(this.getRandomNum(200000, 300000));
            				this.dataUV.push(this.getRandomNum(10000, 80000));
            				
            				this.dataLabels1.push(i+"h");
            				this.dataLabels2.push(i+"h");
            			}
            			this.chartConfig.data.labels = this.dataLabels1;
            			this.chartConfig.data.datasets[0].data = this.dataPV;
						this.chartConfig.data.datasets[1].data = this.dataUV;
            		
            			var ctx1 = document.getElementById('chart1').getContext('2d');
						var chart1 = new Chart(ctx1, this.chartConfig);
						
						var ctx2 = document.getElementById('chart2').getContext('2d');
						var chart2= new Chart(ctx2, this.chartConfig);
            		
            			setInterval(function() {
							if (vue.chartConfig.data.datasets.length > 0) {
				
								var last = parseInt(vue.dataLabels1[vue.dataLabels1.length - 1]);
								var label = last + 1;
								if (last >= 10) {
									label = 0;
								}
								label = label + 'h';
				
								vue.dataLabels1.push(label);
								vue.dataPV.push(vue.getRandomNum(200000, 300000));
								vue.dataUV.push(vue.getRandomNum(10000, 80000));
				
								vue.dataLabels1.shift();
								vue.dataPV.shift();
								vue.dataUV.shift();
				
								chart1.update();
								chart2.update();
							}
						}, 3000);
            		}
            		
            		
            		
            	}
            },
            getRandomNum:function(min, max){
            	var range = max - min;
			    var rand = Math.random();
			    return(min + Math.round(rand * range));
            }
        }
    });

    //载入数据
    vue.loadData(vue.currentPage, vue.pagesize,vue.seachData,vue.sortColumn,vue.sortOrder);
    
    
 

		
</script>

</body>
</html>